<% content_for :footer do %>
    <script>
        $('.carousel').carousel()
    </script>
<% end %>

<%= render "shared/menu" %>

<!-- Servicewrap -->
<div id="servicewrap">
  <div class="container">
    <div class="row">
      <h1><%= raw t '.title' %></h1>
    </div>
  </div>
</div>
<!-- /Servicewrap -->

<!-- Intro Section -->
<div class="container sinfo">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>
        <%= raw t '.intro' %>
      </h3>
    </div>
  </div>
  <!-- /row -->
</div><!-- /container -->


<div class="container sinfo">
  <div class="row">
    <div class="col-lg-8">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <span class="fui-plus"></span> <%= t '.air_force_title' %>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>
              <ul>
                <%= raw t '.air_force_text' %>
              </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <span class="fui-plus"></span> <%= t '.army_title' %>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              <ul>
                <%= raw t '.army_text' %>
              </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <span class="fui-plus"></span> <%= t '.radio_title' %>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              <ul>
                <%= raw t '.radio_text' %>
              </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <span class="fui-plus"></span> <%= t '.navy_title' %>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              <ul>
                <%= raw t '.navy_text' %>
              </ul>
              </p>
            </div>
          </div>
        </div>


      </div>
      <!-- panel-group -->
    </div>
    <!-- col-lg-8 -->


    <div class="col-lg-4">
      <div class="alert alert-success">
        <h4><%= t '.got_questions' %></h4>
        <a href="<%= contact_path %>" class="btn btn-primary btn-wide">
          <i class="fui-link"></i> <%= t '.contact_us' %>
        </a>
      </div>
    </div>

  </div>
</div><!-- /container -->


<!-- Spacer Section -->
<div id="sp1">
  <div class="container">
    <div class="row">
      <br>
      <h3><%= t '.cta' %></h3>
      <br>
    </div>
  </div>
  <!-- /container -->
</div><!-- /sp1 -->

<!-- Charts Section -->
<div class="container sinfo">
  <div class="row centered">
    <img class="img-responsive" src="/assets/images/client-logos.png" alt="">
  </div>
  <!-- /row -->
</div><!-- /container -->


<!-- Testimonial Section-->
<div id="g">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1 centered">
      <h4><%= t '.facts.title' %></h4>

      <div id="carousel-example-generic" class="carousel slide">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <!-- First Testimonial-->
          <div class="item active">
            <div class="col-md-10 col-md-offset-1">
              <div class="tc centered">
                <p><%= t '.facts.fact_1' %></p>
              </div>
              <!-- /tc -->
            </div>
            <!-- /col-md-10 -->
          </div>
          <!-- /item -->

          <!-- Second Testimonial-->
          <div class="item">
            <div class="col-md-10 col-md-offset-1">
              <div class="tc centered">
                <p><%= t '.facts.fact_2' %></p>
              </div>
              <!-- /tc -->
            </div>
            <!-- /col-md-10 -->
          </div>
          <!-- /item -->

        </div>
        <!-- /carousel-inner -->
      </div>
      <!-- /carousel-example -->

      <!-- Controls -->
      <a class="left carousel-control" href="services#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="services#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
      </a>

    </div>
    <!-- /col-lg-10 -->
  </div>
  <!-- /container -->
  <br>
</div><!-- /g - testimonial -->

<%= render "shared/footer" %>