<!-- FOOTER -->
<div id="f">
  <div class="container">
    <div class="row">
      <h5 class="centered"><%= t :contact_information %></h5>
      <br>

      <div class="col-lg-4">
        <p><%= raw t :about_ste %></p>
        <p><small><%= t :about_ste_text %></small></p>
        <p><img src="/assets/images/ukrop-ft.png" class="ukrop-footer"></p>
      </div>

      <div class="col-lg-4">
        <div class="col-lg-6 head-office">
          <p><%= t :head_office %></p>
          <p><small>
            <%= raw t :head_office_contacts %>
          </small></p>
        </div>
        <div class="col-lg-6 liaison-office">
          <p><%= t :liaison_office %></p>
          <p><small>
            <%= raw t :liaison_office_contacts %>
          </small></p>
        </div>
      </div>

      <div class="col-lg-4">
        <p><%= t :our_newsletter %></p>
        <p><small><%= t :subscribe_to_news %></small></p>
        <p><%= form_for Subscriber.new do |f| %>
              <%= f.email_field :email, placeholder: t(:subscribe_placeholder), class: "form-control flat" %><br />
          <% end %></p>
		<p><small>STE, Спецтехноекспорт, Спецтехноэкспорт</small></p>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /Footer -->