<% content_for :header do %>
    <link rel="stylesheet" href="/assets/css/revolution.css" media="screen"/>
    <link rel="stylesheet" href="/assets/css/media-slideshow.css" media="screen"/>
<% end %>

<% content_for :footer do %>
    <script src="/assets/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/assets/js/jquery.themepunch.plugins.min.js"></script>
    <script>
        $(document).ready(function () {
            //Slideshow
            $('.banner').revolution({
                delay: 9000,
                startwidth: 1040,
                startheight: 463,
                onHoverStop: "off",						// Stop Banner Timet at Hover on Slide on/off

                thumbWidth: 100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                thumbHeight: 50,
                thumbAmount: 3,

                hideThumbs: 0,
                navigationType: "bullet",				// bullet, thumb, none
                navigationArrows: "none",				// nexttobullets, solo (old name verticalcentered), none

                navigationStyle: "round-old",			// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom

                navigationHAlign: "center",				// Vertical Align top,center,bottom
                navigationVAlign: "bottom",				// Horizontal Align left,center,right
                navigationHOffset: -419,
                navigationVOffset: 72,

                touchenabled: "on",						// Enable Swipe Function : on/off

                stopAtSlide: -1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                stopAfterLoops: -1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                hideCaptionAtLimit: 0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                hideAllCaptionAtLilmit: 0,				// Hide all The Captions if Width of Browser is less then this value
                hideSliderAtLimit: 0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


                fullWidth: "on",

                shadow: 0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)
            })

        });
    </script>
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    </script>
<% end %>

<%= render "shared/menu" %>

<!-- slideshow start here -->
<section id="slideshow-container">
  <div class="banner">

    <ul>

      <li data-transition="fade">
        <img src="//spetstechnoexport.com/assets/images/slideshow/zubr.jpg" alt="ZUBR" style="background:#e4e6e6">

        <div class="caption general_caption pst_media14 lfl ltl" data-x="56" data-y="83" data-speed="900" data-endspeed="900" data-start="100" data-end="5700" data-easing="easeOutBack" data-endeasing="easeInBack">
          <h1 class="bold"><%= t '.slider.s1.title' %></h1></div>
        <div class="caption general_caption lfl ltl " data-x="56" data-y="162" data-speed="900" data-endspeed="900" data-start="800" data-end="6200" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-95"><%= t '.slider.s1.p1' %></a></p>
        </div>
        <div class="caption general_caption pst_media4 lfl ltl" data-x="56" data-y="210" data-speed="900" data-endspeed="900" data-start="1300" data-end="6700" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-96"><%= t '.slider.s1.p2' %></a></p>
        </div>
        <div class="caption general_caption pst_media5 lfl ltl" data-x="56" data-y="258" data-speed="900" data-endspeed="900" data-start="1800" data-end="7200" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-97"><%= t '.slider.s1.p3' %></a></p>
        </div>
      </li>

      <li data-transition="fade">
        <img src="//spetstechnoexport.com/assets/images/slideshow/mriya.jpg" alt="AN 225 Mriya" style="background:#e4e6e6">

        <div class="caption general_caption pst_media14 lfl ltl" data-x="56" data-y="83" data-speed="900" data-endspeed="900" data-start="100" data-end="5700" data-easing="easeOutBack" data-endeasing="easeInBack">
          <h1 class="bold"><%= t '.slider.s2.title' %></h1></div>
        <div class="caption general_caption lfl ltl" data-x="56" data-y="162" data-speed="900" data-endspeed="900" data-start="800" data-end="6200" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-51"><%= t '.slider.s2.p1' %></a></p>
        </div>
        <div class="caption general_caption pst_media4 lfl ltl" data-x="56" data-y="210" data-speed="900" data-endspeed="900" data-start="1300" data-end="6700" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-119"><%= t '.slider.s2.p2' %></a></p>
        </div>
        <div class="caption general_caption pst_media5 lfl ltl" data-x="56" data-y="258" data-speed="900" data-endspeed="900" data-start="1800" data-end="7200" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-61"><%= t '.slider.s2.p3' %></a></p>
        </div>
      </li>

      <li data-transition="fade">
        <img src="//spetstechnoexport.com/assets/images/slideshow/airdefence.jpg" alt="" style="background:#e4e6e6">

        <div class="caption general_caption pst_media14 lfl ltl" data-x="56" data-y="83" data-speed="900" data-endspeed="900" data-start="100" data-end="5700" data-easing="easeOutBack" data-endeasing="easeInBack">
          <h1 class="bold"><%= t '.slider.s3.title' %></h1></div>
        <div class="caption general_caption lfl ltl" data-x="56" data-y="162" data-speed="900" data-endspeed="900" data-start="800" data-end="6200" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-121"><%= t '.slider.s3.p1' %></a></p>
        </div>
        <div class="caption general_caption pst_media4 lfl ltl" data-x="56" data-y="210" data-speed="900" data-endspeed="900" data-start="1300" data-end="6700" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/catalogues/447"><%= t '.slider.s3.p2' %></a></p>
        </div>
        <div class="caption general_caption pst_media5 lfl ltl" data-x="56" data-y="258" data-speed="900" data-endspeed="900" data-start="1800" data-end="7200" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-109"><%= t '.slider.s3.p3' %></a></p>
        </div>
      </li>

      <li data-transition="fade">
        <img src="//spetstechnoexport.com/assets/images/slideshow/robotics.jpg" alt="" style="background:#e4e6e6">

        <div class="caption general_caption pst_media14 lfl ltl" data-x="56" data-y="83" data-speed="900" data-endspeed="900" data-start="100" data-end="5700" data-easing="easeOutBack" data-endeasing="easeInBack">
          <h1 class="bold"><%= t '.slider.s4.title' %></h1></div>
        <div class="caption general_caption lfl ltl" data-x="56" data-y="162" data-speed="900" data-endspeed="900" data-start="800" data-end="6200" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-63"><%= t '.slider.s4.p1' %></a></p>
        </div>
        <div class="caption general_caption pst_media4 lfl ltl" data-x="56" data-y="210" data-speed="900" data-endspeed="900" data-start="1300" data-end="6700" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-64"><%= t '.slider.s4.p2' %></a></p>
        </div>
        <div class="caption general_caption pst_media5 lfl ltl" data-x="56" data-y="258" data-speed="900" data-endspeed="900" data-start="1800" data-end="7200" data-easing="easeOutBack" data-endeasing="easeInBack">
          <p class="lead-alt"><i class="icon-ok-sign"></i><a href="/defence-65"><%= t '.slider.s4.p3' %></a></p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- slideshow end here -->

<!-- Call To Action -->
<div id="cta">
  <div class="container centered">
    <h3><%= t '.title' %></h3>
    <p><%= t '.subtile' %></p>
    <br>
    <%= link_to :about do %>
      <button class="btn btn-embossed btn-primary"><%= t :meet_our_history %></button>
    <% end  %>
  </div>
  <!-- /container -->
</div><!-- /cta -->

<div class="container sinfo">
  <div class="row svgicons centered">

    <div class="col-lg-4">
      <%= link_to image_tag("/assets/images/icons/ruslan.png"), product_path(@ruslan) %>
      <h4><%= raw t '.product_1.title' %></h4>

      <p><%= raw t '.product_1.description' %></p>
    </div>
    <!-- col-lg-4 -->

    <div class="col-lg-4">
      <%= link_to image_tag("/assets/images/icons/kolchuga.png"), product_path(@kolchuga) %>
      <h4><%= raw t '.product_2.title' %></h4>

      <p><%= raw t '.product_2.description' %></p>
    </div>
    <!-- col-lg-4 -->

    <div class="col-lg-4">
      <%= link_to image_tag("/assets/images/icons/yatagan.png"), product_path(@mbt) %>
      <h4><%= raw t '.product_3.title' %></h4>

      <p><%= raw t '.product_3.description' %></p>
    </div>
    <!-- col-lg-4 -->

  </div>
  <!-- /row -->
  <br>
  <hr>
</div><!-- /container -->


<div class="container">
  <div class="row centered">
    <h4><%= t '.general_areas' %></h4>
    <br>

    <div class="ch-grid">
      <div class="col-lg-4">
        <%= link_to defence_path do %>
            <li>
              <div class="ch-item ch-img-1">
                <div class="ch-info">
                  <h3><%= t :defence_products %></h3>

                  <p><%= t '.army_navy_airforce' %>...<%= link_to (t :continue), defence_path %></p>
                </div>
              </div>
              <!-- /ch-img-1 -->
              <h6><b><%= t :defence_products %></b><br/> <%= t '.army_navy_more' %></h6>
            </li>
        <% end %>
      </div>
      <!-- /col-lg-4 -->

      <div class="col-lg-4">
        <%= link_to research_path do %>
            <li>
              <div class="ch-item ch-img-2">
                <div class="ch-info">
                  <h3>R&D</h3>

                  <p><%= t '.uav_radars' %><%= link_to (t :continue), research_path %></p>
                </div>
              </div>
              <!-- /ch-img-2 -->
              <h6><b><%= t :rnd %></b><br/> <%= t '.uav_upgrades_more' %></h6>
            </li>
        <% end %>
      </div>
      <!-- /col-lg-4 -->

      <div class="col-lg-4">
        <%= link_to licenses_path do %>
            <li>
              <div class="ch-item ch-img-3">
                <div class="ch-info">
                  <h3><%= t :licences_and_certificates %></h3>

                  <p><%= t '.authorisation_letters' %>...<%= link_to (t :continue), licenses_path %></p>
                </div>
              </div>
              <!-- /ch-img-3 -->
              <h6><b><%= t :licences_and_certificates %></b><br/> <%= t '.permits_and_more' %></h6>
            </li>
        <% end %>
      </div>
      <!-- /col-lg-4 -->
    </div>
    <!-- /ch-igrid -->
    <br>
    <br>
    <br>
  </div>
  <!-- /row -->
</div><!-- /container -->

<div id="sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <br>

        <h3><%= t '.cta_block' %></h3>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <br>
    <br>
    <br>

    <div class="col-lg-6">
      <div class="tabbable">
        <ul class="nav nav-tabs nav-append-content" id="myTab">
          <li class="active"><a href="#tab1"><%= t :defence_products %></a></li>
          <li class=""><a href="#tab2"><%= t :rnd %></a></li>
        </ul>
        <!-- /tabs -->
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <div class="tabmod">
              <h4><span class="fui-plus"></span> <%= t :defence_products %></h4>
              <br>

              <p>
                <%- if defined? @defence_categories and @defence_categories.any?
                      @defence_categories.each do |category| %>
                        <span class="fui-folder"></span> <%= link_to category.name, defence_category_path(category) %>
                        <br/>
                    <%- end
                        end %>
              </p>
            </div>
          </div>
          <div class="tab-pane" id="tab2">
            <div class="tabmod">
              <h4><span class="fui-plus"></span> <%= t :rnd %></h4>
              <br>

              <p>
                <%- if defined? @research_categories and @research_categories.any?
                      @research_categories.each do |category| %>
                        <span class="fui-folder"></span> <%= link_to category.name, research_category_path(category) %>
                        <br/>
                    <%- end
                        end %>
              </p>
            </div>
          </div>
        </div>
        <!-- /tab-content -->
      </div>
      <!-- /Tabbable -->
    </div>
    <!-- /col-lg-6 -->

    <div class="col-lg-5 col-lg-offset-1">
      <h4><%= raw t '.ste_profile_title' %></h4>

      <div class="sinfo">
        <%= raw t '.ste_profile_description' %>
        <p><!--h4>Need More Information?</h4-->
          <%= link_to contact_path do %>
              <button class="btn btn-primary btn-wide pull-right"><%= t :contact_us %></button>
          <% end %>
        </p>
      </div>
    </div>
    <!-- col-lg-5 -->

  </div>
  <!-- /row -->
  <br>
  <br>
  <br>
</div><!-- /container -->

<%= render "shared/news" %>

<%= render "shared/footer" %>