<% content_for :header do %>
    <script src="/assets/js/Chart.js"></script>
    <style>
        .cv-post {
            text-align: right;
        }
    </style>
<% end %>

<% content_for :footer do %>
    <script>
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
<% end %>

<%= render "shared/menu" %>

<!-- Aboutwrap -->
<div id="aboutwrap">
  <div class="container">
    <div class="row">
      <h1><br/> <%= raw t '.title' %></h1>
    </div>
  </div>
</div>
<!-- /Aboutwrap -->

<!-- Intro Section -->
<div class="container sinfo">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <%= raw t '.intro' %>
    </div>
  </div>
  <!-- /row -->
  <hr>
</div><!-- /container -->

<!-- Leaders Section -->
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <div class="tabbable">
        <ul class="nav nav-stacked" id="myTab">
          <li class="active"><a href="#tab4"><%= t '.ceo.name' %></a></li>
        </ul>
        <!-- /tabs -->
      </div>
      <!-- /tabbable -->
    </div>
    <!-- /col-lg-2 -->

    <div class="col-lg-10 ab">
      <div class="tab-content">

        <div class="tab-pane active" id="tab4">
          <div class="tabmod-a">
            <!-- FIRST PROFILE -->
            <div class="row">
              <div class="col-md-4">
                <h2><b><%= t '.ceo.name' %></b></h2>
                <h6><%= t '.ceo.position' %></h6>
                <br>
                <%= raw t '.ceo.cv_pre' %>
              </div>
              <div class="col-md-8 cv-post">
                <img class="img-responsive" src="/assets/images/team/barbul.jpg" alt="">
                <br/><br/>
                <%= raw t '.ceo.cv_post' %>
              </div>
            </div>
          </div>
        </div>
        <!-- /tab-pane -->

      </div>
    </div>

  </div>
</div>

<!-- Spacer Section -->
<div id="sp1">
  <div class="container">
    <div class="row">
      <br>

      <h3><%= t '.spacer' %></h3>
      <br>
    </div>
  </div>
  <!-- /container -->
</div><!-- /sp1 -->

<!-- Charts Section -->
<div class="container sinfo">
  <div class="row centered">
    <h3><%= t '.enterprise.title' %></h3>
    <br>

    <div class="col-lg-8 col-lg-offset-2">
      <%= raw t '.enterprise.text' %>
    </div>
  </div>
  <!-- /row -->
</div><!-- /container -->

<%= render "shared/footer" %>