<%= render "shared/menu" %>

<div id="mapwrap">
  <iframe height="450" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&ie=UTF8&ll=48.752693,31.791016&spn=62.34552,156.972656&z=5&output=embed&q=Moskovs'kyi+Avenue,+Kyiv,+Kyiv+ city,7"></iframe>
</div>

<div class="container">
  <div class="row sinfo">
    <div class="col-lg-4">
      <%= raw t '.contacts_block' %>
    </div><!-- col-lg-4 -->

    <style>

    </style>

    <div class="col-lg-8">
      <%= form_for Inquiry.new do |f| %>
      <h4><%= t '.form.title' %></h4>
      <p><%= t '.form.desc' %></p>
      <br>
      <div class="form-group">
        <%= f.text_field :name, placeholder: t('.form.name'), class: "form-control", required: true, pattern: ".{2,32}" %>
        <span class="input-icon fui-check-inverted validity-check"></span>
      </div>

      <div class="form-group">
        <%= f.email_field :email, placeholder: t('.form.email'), class: "form-control", required: true %>
        <span class="input-icon fui-check-inverted validity-check"></span>
      </div>

      <div class="form-group">
        <%= f.text_field :subject, placeholder: t('.form.subject'), class: "form-control", required: true, pattern: ".{2,32}" %>
        <span class="input-icon fui-check-inverted validity-check"></span>
      </div>

      <%= f.text_area :message, placeholder: t('.form.message'), class: "form-control", required: true, pattern: ".{2,32}" %>
      <br>

      <%= f.button t('.form.button'), type: :submit, class: "btn btn-wide btn-primary" %>
      <% end %>
    </div><!-- col-lg-8 -->
  </div><!-- row -->
</div><!-- container -->

<%= render "shared/footer" %>